* {padding: 0; margin: 0;}

.cont_box {display: flex;justify-content: center;align-items: center;height: 100%;}

tr, td {padding: 0 0 0 0;}
tr {height: 40px;}
td { text-align: center; font-size: 30px;font-family: SCDream3;}
td:not(:first-child) {padding-top: 25px}
tr:not(:first-child) { padding-top: 20px}



@font-face {  font-family: "SCDream3"; }



