/* cont-main */
.nav_wrap {margin: 0 auto; width: 60%; display: flex; justify-content: space-evenly;}
.nav_wrap .nav_col {font-family: SCDream3; text-align: center;}
.nav_wrap .nav_col button {width: 100%; display: block; margin-top: 20px; font-family: SCDream3; box-sizing: border-box; border: black solid 1px;}
.nav_wrap .nav_col button:hover {background-color: #19288CFF; color: white;}