/* Info Table */
.info_table .row_text {border: black solid 1px; font-size: 16px; padding-left: 10px;}
.info_table {border-collapse: separate; /* 셀(cell) 경계를 분리합니다. */border-spacing: 0 20px; /* 원하는 간격 크기를 지정합니다. */}

.info_table .btn_wrap .table_btn {width: 49%;}
