#map {width: 350px; height: 350px;}
*{
    font-weight: bold;
    font-size: 22px;
}
.cont_box form{
    height: 450px;
    padding: 20px;
    margin: 0 auto;
    width: 900px;
}

form table{
    position: relative;
    max-height: 450px;
    width: 900px;

    border-collapse : collapse;
}

form{
    justify-content: center;
}
form table tr{
    height: 150px;
}
form table td{
    width: 100px;
}
form table tr td:nth-child(1){
    min-width: 100px;
}
form table td{
    max-height: 50px;
    border-collapse : collapse;
    text-align: center;
}
form table td:nth-child(1){
    max-width: 20px;
    text-align: center;
}

form table td input{
    width: 300px;
}