/* Info Table */
.info_table .row_name {padding-right: 10px;}
.info_table .row_text {font-size: 20px;}
.info_table .btn_wrap .table_btn {width: 100%;}

/*cont bottom*/
.cont_bottom {height: 15%; display: flex; align-items: center; justify-content: center}
.cont_bottom .back_btn { width: 100px; box-sizing: border-box; border: black solid 1px; text-align: center; font-family: SCDream3; font-size: 20px;}
.cont_bottom .back_btn:hover {background-color: #19288CFF; color: white;}
.cont_bottom .udpate_btn {margin: 0 10px 0 10px; width: 100px; box-sizing: border-box; border: black solid 1px; text-align: center; font-family: SCDream3; font-size: 20px;}
.cont_bottom .udpate_btn:hover {background-color: #19288CFF; color: white;}
.cont_bottom .delete_btn { width: 100px; box-sizing: border-box; border: black solid 1px; text-align: center; font-family: SCDream3; font-size: 20px;}
.cont_bottom .delete_btn:hover {background-color: #19288CFF; color: white;}